mat-card {
    padding: 0px;
    min-width: 600px;
}

mat-card-content {
    gap: 15px;
    padding: 20px;
}

@media (max-width:961px) {
    mat-card {
        min-width: 90%;
    }
}

.main-wrapper {
  height: 100%;
  background-image: url("/assets/login-bg.jpg");
  background-position: 50% 50%;
  background-repeat: repeat;
}
