<div class="button-row" *ngIf="!loadingData">
<button mat-raised-button color="primary" *ngIf="step > 0" (click)="getStats()">Get Stats</button>
<button mat-raised-button color="accent" *ngIf="step === 2" (click)="getRankings()">Get Ranking</button>
<button mat-raised-button color="accent" *ngIf="squadRankings?.length" (click)="getStandings()">Get Standings</button>
<button mat-raised-button color="accent" (click)="getRecords()">Get Records</button>
<button mat-raised-button color="accent" (click)="getFinalStandings()">Get Final</button>
</div>

<div *ngIf="finalStandingsCalculated">
  <ul>
    <li *ngFor="let squad of squads">
      {{squad.name}}
      <ul>
        <li>Win: {{squad.winPoints}}</li>
        <li>Standings: {{squad.standingsPoints}}</li>
        <li>Total: {{squad.totalPoints}}</li>
      </ul>
    </li>
  </ul>
</div>
<div *ngIf="squadStandings?.length">
    <ol>
        <li *ngFor="let squadStanding of squadStandings">
            {{squadStanding.squadName}} - {{squadStanding.squadStandings}}
        </li>
    </ol>
</div>

<div *ngIf="statsVisible">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let squadStat of squadStats">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{squadStat.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let category of squadStat.categoryTotals">
                    {{ categoryEnum[category.categoryName] }} ---- {{category.total}}
                    <br>
                    <ul class="team-breakdown">
                        Teams Breakdown
                        <li *ngFor="let teamObj of squadStat.categoryMap.get(category.categoryName)">
                            {{teamObj.team}} - {{teamObj.statValue}}
                        </li>
                    </ul>
                </li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div *ngIf="rankingsVisible">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let squadRank of squadRankings">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{categoryEnum[squadRank.categoryName]}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let categoryRank of squadRank.squads">
                    {{ categoryRank.rank }}. {{ categoryRank.squadName }} ---- {{categoryRank.total}}
                </li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div *ngIf="winsCalculated">
  <ul>
    <li *ngFor="let squad of squads">
      {{squad.name}} - {{squad.winPoints}}
    </li>
  </ul>

</div>

<div *ngIf="loadingData">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
