<div>
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
</div>

<!-- <div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">{{title}}</a>
    <div class="navbar-nav mr-auto">
      <li *ngFor="let item of menuList" class="nav-item">
        <a [routerLink]="item.href" class = "nav-link" routerLinkActive="router-link-active">
          {{ item.title }}
        </a>
      </li>
    </div>
    <ul class="navbar-nav ml-auto" *ngIf="authService.isLoggedIn">
      <li class="nav-item" (click)="authService.signOut()">
        <a class="nav-link">Sign Out</a>
      </li>
    </ul>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div> -->
