<app-form-wrapper>
  <h2 title>Reset Password</h2>



  <p class="text-center">Please enter your email address to request a password reset.</p>


  <mat-form-field class="half-width-input" appearance="fill">
    <mat-label>Email Address</mat-label>
    <input type="email" matInput placeholder="Email Address" #passwordResetEmail required>
  </mat-form-field>

  <!-- Calling forgotPassword from AuthService Api -->
  <div class="formGroup">
    <button mat-raised-button color="primary" (click)="authService.forgotPassword(passwordResetEmail.value)">
      Reset Password
    </button>
  </div>

  <div class="redirectToLogin">
    <span>Go back to ? <a mat-button class="redirect" routerLink="/sign-in">Log In</a></span>
  </div>
</app-form-wrapper>