<mat-nav-list class="sidenav-menu-items">
  <a mat-list-item (click)="onSidenavClose()">
    <mat-icon>menu_open</mat-icon>
  </a>

  <ul class = "no-bullets">
    <li *ngFor="let item of menuList">
      <a [routerLink]="item.href" routerLinkActive="router-link-active"
      (click)="onSidenavClose()">
      {{ item.title }}
      </a>
    </li>
  </ul>

  <!-- <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
  </a> -->
</mat-nav-list>
