<mat-nav-list>
  <a class = "side-nav" mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <span>Close</span>
  </a>
  <a *ngFor="let item of menuList" [routerLink]="item.href" class = "side-nav"  routerLinkActive="router-link-active">
    {{ item.title }}
  </a>

  <!-- <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
  </a> -->
</mat-nav-list>
