a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.no-bullets{
  list-style: none;
  text-align: left;
  display: block;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
}

.sidenav-menu-items{
  text-align: left;
  display: block;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
}

/* .side-nav {
  display: block;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
} */
