a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.nav-caption{
  display: inline-block;
  text-align: center;
  padding-left: 6px;
}

.side-nav {
  display: block;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;

}
