<div *ngIf="loading;else matchups">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<!-- <button (click)="setMatchup()">squadTeamInfo</button> -->
<ng-template #matchups>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let fullWeekMatchups of leagueWeeklyMatchups">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Week: {{fullWeekMatchups.week}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- TODO Needs to be its own component -->
      <mat-card *ngFor="let matchup of fullWeekMatchups.squadMatchups" div fxLayout="row"
        fxLayoutAlign="space-around start">
        <div *ngFor="let item of matchup.weeklyMatchup">
          <h3>{{squadNameMap.get(item.squadUID)}}</h3>

          <mat-list role="list" *ngFor="let squadTeamInfo of item.selectedSquads">
            <span class="breakdown">
            Breakdown:
            <mat-list *ngFor="let test of squadTeamInfo.categoryBreakdown">
              <mat-list-item>{{test.subCategory}} - {{test.statTotal}} - {{test.pointTotal}}</mat-list-item>
            </mat-list>
          </span>
            <mat-list-item class="team-section" role="listitem">
              {{squadTeamInfo.category}} -
              <!-- Make sure its your squad and that this is the active week  -->
              <!-- TODO need new component -->
              <span *ngIf="fullWeekMatchups.active && item.squadUID === usersSquad.uid;else team">
                <mat-form-field appearance="fill">
                  <mat-label>Select team</mat-label>
                  <mat-select
                  [(value)]="squadTeamInfo.team"
                  (selectionChange)="selectionChange($event.value, squadTeamInfo.category)">
                    <mat-option *ngFor="let team of teamListForSelect" [value]="team">{{team}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <ng-template #team>
                {{squadTeamInfo.team}}
              </ng-template>
              -

              {{squadTeamInfo.points | number : '1.2-2'}}</mat-list-item>
          </mat-list>

          <strong>Total: {{item.matchupTotal | number : '1.2-2'}}</strong>
        </div>
      </mat-card>

    </mat-expansion-panel>
  </mat-accordion>
</ng-template>
